<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <!-- Be sure to set the SQL Instance below if not using the localhost-->
    <add name="Destination" providerName="Sql" connectionString="Data Source=localhost;Initial Catalog=master;Integrated Security=SSPI;"/>
  </connectionStrings>
  <appSettings>
    <!-- Set this to true to to use SQL Server datatypes. Have not yet tested on other systems -->
    <add key="SQLServerDestination" value ="true"/>
    <!-- Set this to name the database you are creating -->
    <add key="DatabaseName" value="RandomDB"/>    
    <!-- Set this for the number of tables to create -->
    <add key="NumberOfTablesToCreate" value="10"/>
    <!-- Set this to the maximum number of columns per table (randomly generated per table) -->
    <add key="MaxNumberOfColumnsPerTable" value="20"/>
    <!-- Set this to the maximum number of rows per table (randomly generated per table) -->
    <add key="MaxNumberOfRowsPerTable" value ="10"/>
    <!-- Set this to true to write the SQL Statements to create the tables and insert the data -->
    <add key="CreateSQLScript" value="true"/>
    <!-- Set this to a location were you would like the Generated SQL Script and log files to be written -->
    <add key="ScriptFolderPath" value="C:\temp\"/>
  </appSettings>
</configuration>